*{
margin:0;
padding:0;
box-sizing:border-box;

font-family:

"Segoe UI",
sans-serif;
}


body{

background:

linear-gradient(
90deg,

#040b2b,

#15113c,

#261d4c

);

min-height:100vh;

overflow:hidden;

color:white;

padding:20px;

}



/* BACKGROUND GLOW */

body::before{

content:"";

position:fixed;

inset:0;

background:

radial-gradient(

circle,

rgba(
255,215,0,.05
),

transparent 60%

);

animation:

pulse 6s infinite;

z-index:-1;

}

@keyframes pulse{

50%{

transform:
scale(
1.15
);

opacity:.5;

}

}



/* GAME */

.game{

display:none;

grid-template-columns:

2fr 1fr;

gap:22px;

height:100vh;

}


/* LEFT */

.left{

padding-top:15px;

}


/* TOPBAR */

.top{

display:flex;

gap:10px;

align-items:center;

margin-bottom:20px;

}


#timer{

width:60px;

height:60px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

font-weight:700;

background:

rgba(
255,255,255,.08
);

backdrop-filter:
blur(
15px
);

border:

2px solid gold;

box-shadow:

0 0 20px
rgba(
255,215,0,.25
);

}



.top button{

padding:10px 16px;

border:none;

cursor:pointer;

border-radius:12px;

background:

rgba(
255,255,255,.08
);

color:white;

backdrop-filter:
blur(
10px
);

transition:.3s;

}

.top button:hover{

background:gold;

color:black;

}



/* QUESTION CARD */

.question{

padding:35px;

border-radius:26px;

background:

rgba(
255,255,255,.08
);

backdrop-filter:
blur(
18px
);

border:

1px solid rgba(
255,255,255,.08
);

box-shadow:

0 10px 30px
rgba(
0,0,0,.3
);

}



.question h2{

font-size:28px;

margin-bottom:30px;

}



/* OPTIONS */

.options{

display:grid;

grid-template-columns:

1fr 1fr;

gap:26px;

}


.option{

padding:22px;

border:none;

cursor:pointer;

color:white;

font-size:18px;

background:

linear-gradient(

90deg,

#0f1d69,

#30227c

);

clip-path:

polygon(

8% 0,

92% 0,

100% 50%,

92% 100%,

8% 100%,

0 50%

);

transition:.4s;

}



.option:hover{

transform:

translateY(-4px);

box-shadow:

0 0 20px
rgba(
255,215,0,.45
);

}



.locked{

background:orange;

}


.correct{

background:#17b857;

animation:

correctPulse
.8s infinite;

}


@keyframes correctPulse{

50%{

transform:
scale(
1.03
);

}

}


.wrong{

background:#ff3131;

}



/* RIGHT PANEL */

.right{

padding:20px;

border-radius:25px;

background:

rgba(
255,255,255,.08
);

backdrop-filter:
blur(
15px
);

height:95vh;

overflow:auto;

}



#tree li{

list-style:none;

padding:15px;

margin:10px 0;

font-size:18px;

border-radius:14px;

transition:.4s;

}



.current{

background:gold;

color:black;

font-weight:700;

}



.safe{

border:

2px solid lime;

}



/* WELCOME */

.welcome{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}


.card{

width:450px;

padding:35px;

border-radius:24px;

background:

rgba(
255,255,255,.08
);

backdrop-filter:
blur(
18px
);

text-align:center;

}



.card h1{

font-size:40px;

margin-bottom:20px;

}



.card input{

width:100%;

padding:15px;

border:none;

outline:none;

border-radius:12px;

margin:20px 0;

}



.card button{

padding:14px 25px;

border:none;

border-radius:12px;

background:gold;

cursor:pointer;

}



/* RESULT MODAL */

.modal{

position:fixed;

inset:0;

display:flex;

justify-content:center;

align-items:center;

background:

rgba(
0,0,0,.8
);

}

.hidden{

display:none;

}



/* RESPONSIVE */

@media(
max-width:1000px
){

.game{

grid-template-columns:

1fr;

}

.right{

height:auto;

}

.options{

grid-template-columns:

1fr;

}

}
select{

width:100%;

padding:14px;

border:none;

border-radius:10px;

}

#profile{

display:flex;

gap:10px;

align-items:center;

padding:10px;

background:

rgba(
255,255,255,.08
);

border-radius:12px;

}

#userAvatar{

font-size:24px;

}